asgiref==3.11.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
Django==6.0.4
idna==3.13
mozilla-django-oidc==5.0.2
psycopg==3.2.9
PyJWT==2.13.0
pycparser==3.0
requests==2.33.1
sqlparse==0.5.5
urllib3==2.6.3
