{% load static %}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}REX Events{% endblock %}</title>
    <link rel="stylesheet" href="https://use.typekit.net/qxe5rxu.css">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="embed-body">
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
